WebDriverAgent
coverage
build/
dist/
out/
site
tmp/
node_modules/
.next/
bun.lock
pnpm-lock.yaml
*.d.ts
deploy/
public/
*.umd.js
*.umd.js.map
*.umd.min.js
*.umd.min.js.map
*.esm.js
*.esm.js.map
*.esm.min.js
*.esm.min.js.map
*.cjs.js
*.cjs.js.map
*.cjs.min.js
*.cjs.min.js.map
*.tpl.md

# docs
*.mdx

.venv/
_output/
output/
.eslintcache
.aiexclude
.sprints
.claude
.opencode
